{% extends "base.html" %}
{% block title %}Página Lista Juegos{% endblock %}
{% block content %}
    <h1>Página Lista Juegos</h1>
    <table>
            <tr>
                <td>Nombre</td>
                <td>
                {% for i in juegosmsx -%}
                <p>{{i.nombre}}</p>
                {% endfor -%}
                </td>
            </tr>
            <tr>
                <td>Desarrollador</td>
                <td>
                    {% for i in juegosmsx -%}
                    <p>{{i.desarrollador}}</p>
                    {% endfor -%}
                </td>
            </tr>
            <tr>
                <td>Detalle</td>
                {% for i in juegosmsx -%}
                <a href="/juego/{{i.id}}">Detalle del juego</a>
                {% endfor -%}
            </tr>
    </table>    
{% endblock %} 