{% extends "base.html" %}
{% block title %}Página Lista Juegos{% endblock %}
{% block content %}
    <h1>Página Lista Juegos</h1>
    <table>
            <tr>
                <td>Nombre</td>
            </tr>
            <tr>
                <td>Desarrollador</td>
            </tr>
            <tr>
                <td>Detalle</td>
            </tr>
    </table>
    <p>Juego introducido por usuario: {{juego_a_buscar}}</p>
    <p>Juego en fichero: {{juegosmsx.nombre}}</p>
    {% for i in juegosmsx.nombre -%}
        {% if i.startswith('juego_a_buscar') %}
            <p>{{i}}</p>
        {% endif %}
    {% endfor -%}
{% endblock %} 